# Ignore everything in this directory
*
# Except these files
!.gitignore
!**/.gitkeep
!raw/
!raw/.gitignore
!raw/*.dvc
!interim/
!interim/.gitignore
!processed/
!processed/.gitignore
!feature_store/
!feature_store/.gitignore
!monitoring/
!monitoring/.gitkeep
